search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade
security:
    roles:
        guest:
        member: [guest]
        admin:

services:
	router: App\Router\RouterFactory::createRouter
	authenticator: App\Model\UserManager
